.allcreds{
    display:flex;
    /*flex-direction:column;*/
    justify-content:center;
    align-items:center;
} 
.creds{
    display:flex;
    justify-content:center;
    
}
.UserData{
    border-radius:5px;
}
.data{
    border-radius:10px;
    background-color:cornflowerblue;
    color:darkblue;
}
#submitbtn{
    justify-content:center;
    display:flex;
}
